// Angular MDC

@use './styles/body';

@use '@material/theme' with (
  $primary: #6200ee,
  $secondary: #faab1a,
  $background: #fff,
  );
// MDC Typography
@use '@material/typography/mdc-typography';
@use 'material-components-web/material-components-web';
// MDC Button
@use './styles/button';

